body {
    width: 100%;
    text-transform: none;
    font-family: "Roboto", "Open Sans", "Arial", "Verdana", sans-serif;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 5px 0;
    &.md-padding {
        margin: 0;
    }
}

img {
    max-width: 100%;
    border: 0;
    border-radius: 4px;
}

input {
    width: 100%!important;
}

.text-center {
    text-align: center;
    .email-profile{
        font-size: 16px;
    }
    .user{
        font-size: 14px;
    }
}

.small-font {
    font-size: 0.8em;
}

.bold-text {
    font-weight: bold;
}

.no-overflow {
    overflow: hidden;
}

header {
    overflow: auto;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    text-shadow: 0 0 3px #333;
    .header-logo {
        img {
            float: left;
            height: 28px;
        }
    }
    a {
        margin-top: 10px;
        color: white;
        font-size: 8px;
    }
}

.footer {
    width: 100%;
    height: auto;
    margin-top: -2px;
    padding-bottom: 30px;
    background-color: #222;
    md-divider {
        background-color: white;
    }
}

.footer-item-group {
    padding-left: 50px;
}

.text-color {
    &.white {
        color: #fff;
    }
}

.icon-button {
    width: 48px;
    height: 48px;
    margin: 20px;
    padding: 0;
}

.footer-links {
    margin-top: 15px;
    text-align: left;
    color: white;
    font-size: 12px;
}

.nav-links {
    margin-bottom: 20px;
}

.social_icons {
    padding-left: 50px;
    span {
        margin: 0 20px 20px 0;
    }
    .icons {
        margin-top: 15px;
    }
}

.footer-text {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
}

.footer-titles {
    font-weight: normal;
    color: grey;
    font-size: 20px;
}

.space {
    flex: 2;
}

button.md-button {
    font-size: 14px;
    .fa {
        margin-right: 5%;
    }
}

md-list-item.md-3-line {
    > .md-list-item-text {
        >h4.review_title {
            font-weight: bold;
            color: #ff4081;
        }
        >p.review_text {
            color: #666;
            width: 13em;
            font-style: italic;
            word-wrap: break-word;
        }
    }
}

.post {
    color: #666;
}

.delete-picture {
    position: relative;
    top: 80%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s ease-out;
    display: inline;
}

.imageactions {
    width: 100%;
    height: 100%;
    text-align: center;
}

md-card.jumbotron.search-jumbotron {
    position: relative;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -40px;
    @media (max-width: 599px) {
        height: auto;
    }
}

.text-white {
    color: white;
}

.no-space {
    margin: 0;
    padding: 0;
}

.toolbar-fix {
    height: 48px;
    min-height: 48px;
}

md-toolbar,
.md-toolbar-tools {
    .toolbar-fix;
}

.ripple-container {
    position: relative;
}

.jumbotron {
    margin: 0;
    padding: 0;
}

.card-images {
    width: 100%;
    height: 260px;
    background: center center no-repeat;
    background-size: cover;
}

.eventGridList,
.itemGridList {
    div>md-list {
        width: 100%;
    }
}

.event-main-img {
    width: inherit;
    height: 300px;
    background-size: cover;
}

.jumbotron-image {
    width: 100%;
    height: 400px;
    padding-bottom: 0;
    background: url(../images/jumbo-image.jpg) top center no-repeat;
    background-size: cover;
    .image-overlay {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: inherit;
        padding-bottom: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.45);
        .jumbotron-middle-small-text {
            display: block;
            margin-top: 0;
            font-size: 1.7em
        }
        .jumbotron-footer {
            background: red;
        }
    }
}

nav {
    float: right;
    p {
        display: inline-block;
        width: 85px;
        height: 60px;
        padding: 5px;
        text-align: center;
        color: white;
        font-size: 0.9rem;
    }
}

h3 {
    margin-bottom: 30px;
    color: rgb(16, 24, 14);
    font-size: 1.75em;
    font-weight: bold;
}

.middle-content {
    padding: 150px;
    text-align: center;
    color: white;
    h2 {
        font-size: 4.5em;
        font-weight: bold;
    }
    h4 {
        font-size: 1.50em;
    }
}

.top-reviews {
    overflow: auto;
    padding: 3% 4%;
}

.child-content-top-reviews {
    text-align: center;
    color: grey;
    line-height: 1.5em;
    p {
        text-align: justify;
    }
}

.content-top-reviews {
    & > div {
        vertical-align: top;
    }
    img {
        max-width: 100%;
        height: 260px;
        margin-bottom: 15px;
    }
}

.content-events {
    & > div {
        vertical-align: top;
    }
}

.products {
    overflow: auto;
    text-align: justify;
    img {
        max-width: 100%;
        height: 260px;
        margin-bottom: 15px;
    }
}

.content-products {
    & > div {
        vertical-align: top;
    }
}

content-view {
    background-color: rgba(0, 128, 128, 0.05);
    .sectionhome {
        margin-top: 20px;
        padding-left: 4%;
        padding-right: 4%;
    }
    .headertitle {
        height: 40px;
        h3 {
            font-size: 1.2em;
        }
    }
}

.itemSideNav {
    md-toolbar {
        h1 {
            font-size: 0.9em;
            color: white;
        }
    }
    .md-button {
        font-size: 0.9em;
    }
}

md-sidenav.md-sidenav-left {
    min-width: 200px;
    max-width: 250px;
}

.events {
    md-content {
        background-color: #FAFAFA;
    }
    md-toolbar {
        h1 {
            font-size: 0.9em;
            color: white;
        }
    }
    overflow: auto;
    & .md-button {
        font-size: 0.9em;
    }
    .small {
        color: white;
        font-style: italic;
    }
    & h3 {
        font-size: 1.1em;
        margin: auto 0;
    }
}

.Crumb {
    font-size: 1.1em;
}

.event-jumbotron {
    padding-right: 30px;
    padding-left: 30px;
    .event-img-jt {
        margin-right: 30px;
        margin-left: 30px;
        padding: 0 px;
    }
    .event-text-jt {
        margin-right: 30px;
        margin-left: 30px;
        padding: 0 px;
        background-color: rgb(255, 110, 64);
    }
    .text-divider {
        height: 3px;
        margin-top: 20px;
        margin-right: 40px;
        margin-left: 40px;
        background-color: white;
    }
    .title {
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
    }
    .text {
        color: white;
        font-size: x-large;
    }
}

.event-info {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #f1f1f1;
    .info-cat {
        text-align: center;
        color: rgb(255, 110, 64);
        font-weight: bolder;
    }
    .divider {
        border-right: thick solid rgb(255, 110, 64);
    }
    .to-uppercase {
        text-transform: uppercase;
    }
}

.login {
    width: 320;
    margin: 130px auto;
    padding: 20;
    text-align: center;
    border: 1px solid rgb(132, 132, 132);
    background: rgb(255, 255, 240);
    input {
        display: inline-block;
        max-width: 284px;
        margin: 5px 0;
        padding: 10px 3px;
    }
    & > a {
        & > img {
            margin: 5px;
        }
    }
    & > input[type="submit"] {
        color: white;
        border: 0 solid;
        background: rgb(255, 110, 64);
        font-size: 1.15em;
        font-weight: bold;
    }
}

md-tabs {
    > md-tabs-wrapper {
        > md-tabs-canvas {
            > md-pagination-wrapper {
                > md-tab-item:not([disabled]).md-active {
                    color: #009090;
                }
            }
        }
    }
}

.emphasis {
    font-size: 0.8em;
    font-weight: bold;
}

.sign-up {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    .third-party-button {
        width: 150px;
    }
    .custom-signup {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

md-sidenav.md-sidenav-left {
    .md-button.menu-button {
        display: block;
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        text-align: left;
        border-radius: 0;
        text-color: #777;
    }
}

.items {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .file-upload {
        position: relative;
        display: block;
        overflow: hidden;
        width: 200px;
        margin: 0;
    }
    .file-upload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        font-size: 20px;
        filter: alpha(opacity=0);
    }
}

.profile-body {
    width: 1200px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(204, 204, 200);
    background-color: white;
}

.welcome {
    max-width: 1300px;
    margin: 0 auto;
    .animate {
        p:nth-child(2) {
            animation: type2 8s steps(60, end);
        }
        p a {
            text-decoration: none;
            color: black;
        }
        span {
            animation: blink 1s infinite;
        }
        @keyframes type {
            from {
                width: 0;
            }
        }
        @keyframes type2 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            100% {
                width: 100;
            }
        }
        @keyframes blink {
            to {
                opacity: 0.0;
            }
        }
        ::selection {
            background: black;
        }
        p {
            overflow: hidden;
            width: 40em;
            margin: 10px 0 0 10px;
            animation: type 4s steps(100, end);
            white-space: nowrap;
            color: black;
            font-family: "Verdana";
            font-size: 15px;
        }
    }
}

.welcome-header {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 24px;
}

.rating-box {
    margin-left: 140px;
}

.average-rating {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #009090;
    text-align: center;
    > h3 {
        display: block;
        margin: 0 auto;
        color: #666;
    }
}

.recentReview {
    margin-top: 50px;
}

.recentReview md-card {
    margin: 0;
}

.recentReview md-list-item {
    padding: 0;
}

.nextReview img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.nextReview h4 {
    margin-bottom: 30px;
}

.bubble {
    position: relative;
    float: right;
    width: 650px;
    height: 90px;
    margin-top: -15px;
    padding: 11px;
    border: 1px solid rgb(198, 198, 198);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: rgb(249, 244, 242);
}

.bubble:after {
    position: absolute;
    z-index: 1;
    top: 28px;
    left: -16px;
    display: block;
    width: 0;
    content: '';
    border-width: 13px 16px 13px 0;
    border-style: solid;
    border-color: transparent rgb(198, 198, 198);
}

.email {
    margin: 0 10px;
    color: #106CC8;
    background: rgba(0, 0, 0, 0.065);
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

.header-spacing {
    height: 50px;
    padding: 5 5px;
    opacity: 100%;
    background-color: white;
    font-size: 5px;
}

.user-name {
    padding-top: 35px;
    color: white;
}

.edit-profile {
    margin-top: 30px;
    .content {
        padding-top: 0;
    }
    .datepicker-cont {
        margin: 0;
        padding: 0;
        .datepicker {
            width: 200px;
        }
    }
    .radio-cont {
        margin-left: 80px;
    }
    .button {
        width: 200px;
    }
}

.md-datepicker-input-container {
    border: none;
}


/*REVIEW STYLES*/

.center-review-inputs {
    h3 {
        font-size: 2.3em;
    }
    .search-icon {
        i {
            font-size: 1.6em;
        }
    }
}

.packed {
    margin: 0;
    padding: 0;
}

.prof-divider {
    background-color: white;
}

.packed-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.profile-header {
    background-color: rgb(241, 241, 241);
}

.space-right {
    margin-right: 20px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
}

.bold-title {
    font-weight: bolder;
}

.packed-top {
    margin-top: 0;
    padding-top: 0;
}

.prof-child-img {
    width: 120px;
    height: 120px;
}

.prof-pic-div {
    margin-bottom: 30px;
}

.user-img-btn {
    width: 48px;
    height: 48px;
    margin: 20px;
    padding: 0;
}

.not-loggedin-div {
    margin: 50px 0;
    .login-btn {
        margin: 20px 0;
    }
}

.no_events_msg {
    position: relative;
    display: block;
    margin: auto;
    font-variant: small-caps;
    font-stretch: ultra-expanded;
}

.bg-img-male {
    background-image: url(../images/male.png);
}

.bg-img-female {
    background-image: url(../images/female.png);
}

.bg-img-product {
    background-image: url(../images/product.png);
}

.bg-img-event {
    background-image: url(../images/event.png);
}

.about {
    margin: 0 auto;
    text-align: justify;
    h3 {
        color: #fefefe;
    }
    p {
        margin-right: 30px;
        margin-left: 30px;
    }
    md-grid-tile-footer {
        padding: 2.5em 0.2em;
        opacity: 0.8;
        background-color: #616161;
    }
    .teal {
        background-color: #f5f5f5;
    }
}

.search {
    width: 70%;
    margin: auto;
    p {
        font-family: 'PT Sans Narrow', sans-serif;
        display: inline-block;
        color: white;
        text-shadow: 0 0 4px #111;
        font-size: 2.0em;
    }
    >.search-div {
        width: 100%;
        .md-button {
            margin-left: 1px;
            border-radius: 0;
        }
        > md-input-container {
            padding: 0;
            margin-top: 6px;
            background-color: white;
            width: 100%;
            height: 36px;
            md-icon {
                margin-top: 5px;
            }
            > input {
                margin-top: 5px;
                font-size: 16px;
                border: none;
            }
        }
    }
}

md-toolbar.navbar {
    background-color: #fff;
    height: 70px;
    & .md-button {
        color: #ff4091;
        font-weight: normal;
    }
}

.popular-events {
    md-grid-tile-footer {
        opacity: 0.8;
        background-color: white;
    }
}

.user-events-msg {
    margin: 10% 35%;
    color: rgba(10, 60, 50, 0.6);
    text-shadow: 1px 3px 5px #eee inset;
    font-weight: bolder;
}

.add-event-btn {
    position: fixed;
    bottom: 10px;
    right: 0;
}

.upload-div {
    max-width: 700px;
    .upload-btn {
        width: 90px;
        margin: 20px;
    }
}

.profile-page {
    .right-margin {
        margin-right: 30px;
    }

}

.face {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.thumbs {
    width: 350px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-style {
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 15px;
    text-align: left;
    text-transform: none;
    font-size: 16px;
}

.md-padding {
    padding: 15px;
}

a {
    text-decoration: none;
    color: #ff4081;
    &:visited {
        color: #009090;
    }
}

.truncate {
    overflow: hidden;
    width: auto;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: italic;
}

.md-button {
    text-transform: none;
}

.colorteal {
    color: #009090;
    font-size: 1.2em;
}

.colorpink {
    color: #ff4081;
    font-size: 1.2em;
}

.reviews {
    border: 1px solid #009090;
    border-radius: 2px;
    font-size: 14px;
}

.categorylist {
    max-width: 50px;
    padding: 5px;
}

.listDetails {
    border-left: 1px solid #c0c0c0;
    i {
        font-size: 12px;
        margin: 10px;
        &.location {
            font-size: 16px;
            color: #ff4091;
        }
        &.date,
        &.time {
            font-size: 12px;
        }
    }
}

.item-padding {
    padding-right: 60px;
    padding-left: 60px;
}

.fa-style {
    padding: 8px;
    color: #009090;
}

.address {
    margin-left: 3px;
    color: #000;
}

.rating {
    text-align: center;
    font-size: 24px;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.container-height {
    height: 300px;
}

.rating > span {
    position: relative;
    display: inline-block;
    width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #ff4081;
}

.stared {
    color: #ff4081;
}

.item-title {
    padding-left: 15px;
    color: #666;
}

.title-color {
    color: #666;
}

.no-padding {
    padding: 0
}

.rating-box {
    margin-left: 140px;
}

.average-rating {
    width: 80px;
    height: 80px;
    background: #009090;
    line-height: 80px;
    > h3 {
        display: block;
        margin: 0 auto;
        color: #fff;
    }
}

.average-stars {
    margin: 0 0 0 1px;
}

.small {
    font-size: 12px;
}

.remove-link-deco {
    text-decoration: none;
    color: black;
}

md-dialog {
    min-width: 50%!important;
    md-dialog-content {
        overflow: auto;
        padding: 5%;
        md-content {
            overflow-x: hidden;
        }
    }
}

.Sections {
    padding-top: 0px;
    padding-bottom: 50px;
    md-tabs.md-dynamic-height md-tabs-content-wrapper {
        padding: 20px 50px;
    }
    .tabCards {
        flex-wrap: wrap;
        @media (min-width: 700px) {
            margin: 0 60px 0 60px;
        }
        margin: 0 auto;
        md-card {
            width: 90%;
            img {
                width: 100%;
                height: 200px;
            }
            md-card-title {
                height: 120px;
                md-card-title-text {
                    padding: 5px;
                    span.category {
                        text-transform: uppercase;
                        color: grey;
                        font-size: 11px;
                    }
                    span.name {
                        margin-top: 5px;
                        color: #ff4081;
                    }
                    i {
                        margin-top: 15px;
                        color: #009090;
                    }
                }
            }
            md-card-content {
                padding: 5px;
                margin-bottom: 5px;
                p {
                    width: 100%;
                    text-align: justify-all;
                    font-size: 12px;
                }
            }
        }
    }
}

md-tabs-canvas {
    margin: 0 115px;
}

.eventsList {
    margin: 0 30px;
    .recentEvents {
        height: 47px;
    }
}

.itemsList {
    margin: 0 30px;
    .recentProducts {
        h3 {
            font-size: 1.1em;
        }
    }
}

.gridItems {
    margin-bottom: 10px;
    flex-wrap: wrap;
    >md-card:hover {
        border: 1px solid teal;
    }
    md-card {
        width: 90%;
        img {
            width: 100%;
            height: 200px;
        }
        md-card-title {
            height: 150px;
            &.itemCard {
                height: auto;
            }
            md-card-title-text {
                padding: 5px;
                span.category {
                    text-transform: uppercase;
                    color: grey;
                    font-size: 11px;
                }
                span.name {
                    margin-top: 5px;
                    color: #ff4081;
                }
                span.time {
                    font-size: 12px;
                    margin-top: 10px;
                }
                i.location {
                    margin-top: 15px;
                    color: black;
                }
            }
        }
        md-card-content {
            padding: 5px;
            .md-button {
                font-size: 12px;
                width: 100%;
                margin: 0;
            }
            div>p {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        md-card-actions {
            .md-button {
                font-size: 12px;
                margin: 2px;
            }
        }
    }
}
