doctype html
html(onload='')
  head
    title vvida.com
    link(rel='stylesheet', type='text/css', href='css/styles.css')
  body
    .headerDiv vvida.com
    #arrayChoice
      h3 Some Heading
    #div0
      p Text Here
    script(type='text/javascript', src='scripts/index.js')