.footer
  div.md-padding.md-margin(layout="row" layout-md="column" layout-sm="column" style="justify-content: center")

    .footer-item-group
      .md-title.text-white.footer-titles About
        div(ng-repeat="aboutItem in about" ui-sref="{{aboutItem.state}}")
          md-button.footer-button {{aboutItem.name}}

    .footer-item-group
      .md-title.text-white.footer-titles Discover
        div(ng-repeat="item in discover" ui-sref="{{item.state}}")
          md-button.footer-button {{item.name}}

    .footer-item-group
      .md-title.text-white.footer-titles Business
        div(ng-repeat="item in business" ui-sref="{{item.state}}")
          md-button.footer-button {{item.name}}

  md-divider(style="background-color: white; margin-left: 80px; margin-right: 80px; ")
  .md-headline.text-white.footer-titles(style="text-align: center; margin-top: 10px") Join Us
  div.md-padding.md-margin(layout="row" style="justify-content: center")
    div(layout="row" layout-md="row" layout-sm="column")
      md-button.no-space
        span.fa.fa-google-plus-square.fa-3x.text-white
      md-button.no-space
        span.fa.fa-facebook-square.fa-3x.text-white
      md-button.no-space
        span.fa.fa-twitter-square.fa-3x.text-white
    div(layout="row" layout-md="row" layout-sm="column")
      md-button.no-space
        span.fa.fa-instagram.fa-3x.text-white
      md-button.no-space
        span.fa.fa-linkedin-square.fa-3x.text-white
      md-button.no-space
        span.fa.fa-pinterest-square.fa-3x.text-white
    div
      md-button.no-space
        span.fa.fa-youtube-square.fa-3x.text-white
  .footer-text Copyright © 2015 Vvida Inc. Vvida, Vvida logo and related marks are registered trademarks of Vvida.

