base(href='/')
meta(charset='utf-8')
meta(name='description' content='Reviews and Recommendations of top places events products.')
link(rel='stylesheet' type='text/css' href='css/reset.css')
link(rel='stylesheet' type='text/css' href='css/app.css')
script(src="lib/angular/angular.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="js/application.js")  
title Vvida