.image-background
    .image-overlay
      header
        .header-logo
          img(src='images/vvidaLogo.png')
        nav
          p Home
          p About
          p Event
          p Login
      .middle-content
        h2 WELCOME HOME
        h4 Create, Review, Rate