md-toolbar.md-accent.md-whiteframe-z3(ng-controller="HeaderCtrl")
  .md-toolbar-tools.md-accent
    md-button.md-icon-button.show-sm.hide-gt-sm(ng-click='openLeftMenu()', aria-label="openLeftMenu")
      i.fa.fa-bars.fa-2x
    a(ui-sref="home")
      img(src="images/logo.png" height="24" hide-sm)
      span.text-color.white &nbsp;Vvida
    span(flex)
    a(ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}" hide-sm, aria-label="menuItem.state")
        md-button {{menuItem.name}}
    div(ng-if="currentUser" layout)
      md-button.md-fab(ng-disabled='false', aria-label='Comment', style="height: 30px, width: 30px, margin-top: 4px;")
        img(ng-src="{{currentUser.picture_url}}")
      h5(style="color: white") {{currentUser.firstname}}
      md-button(aria-label="Sign out" ng-click="logout()")
        span.fa.fa-sign-out.fa-1x
        md-tooltip Sign out
    md-button(ng-if="!currentUser" ui-sref="login")
      span.fa.fa-unlock.fa-1x
      md-tooltip Sign in
md-sidenav.md-sidenav-left(md-component-id='left' hide-gt-sm)
  md-toolbar.md-accent
    h1.md-toolbar-tools
      a(ui-sref="home")
        img(src="images/logo.png" height="16")
        span.text-color.white &nbsp;Vvida
  md-content.sidenav-contents
    md-button.menu-button(ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}" ng-click="closeLeftMenu()", aria-label="menuItem.name") {{menuItem.name}}


