md-toolbar.md-accent.md-whiteframe-z3
  .md-toolbar-tools.md-accent
    a(ui-sref="home")
      img(src="images/logo.png" height="32")
    span(flex)
    a(ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}")
        md-button {{menuItem.name}}
