md-content(ng-controller="UserEventsCtrl" layout='column' flex='100' ng-init="init()")
  form(method='post', enctype='multipart/data', ng-submit='addEvent()')
    md-input-container
      label
        i.fa.fa-glass &nbsp;&nbsp;&nbsp;Event Name
      input(type='text', ng-model='event.name', ng-required='true', aria-label='event.name')
    md-input-container
      label
        i.fa.fa-list &nbsp;&nbsp;&nbsp;Category Name
      md-select(ng-model="event.category_id" class="select" aria-label="event.category_id")
          md-option(ng-value="category.id" ng-repeat="category in categories") {{category.name}}
    md-input-container
      label
        i.fa.fa-file-text &nbsp;&nbsp;&nbsp;Description
      textarea(ng-model='event.description', rows='3', ng-required='true', aria-label='event.description')
    md-input-container
      label
        i.fa.fa-map-marker &nbsp;&nbsp;&nbsp;Location
      input(ng-model='event.location', type='text', ng-required='true', aria-label='event.location')
    md-input-container
      label
        i.fa.fa-university &nbsp;&nbsp;&nbsp;Venue
      input(ng-model='event.venue', type='text', ng-required='true', rows='2', aria-label='event.venue')
    md-datepicker(ng-model='event.time', md-placeholder='Start date')
    md-datepicker(ng-model='event.time', md-placeholder='End date')
    br
    md-input-container
      label
        i.fa.fa-map-marker &nbsp;&nbsp;&nbsp; Sponsor
      input(ng-model='event.sponsor', type='text', ng-required='true', aria-label='event.sponsor')
    br
    md-button.md-raised.md-warn.login-button(type='submit')
      i.fa.fa-plus-circle
      | Add
