div.eventGridList(layout-padding layout="column")
  div(layout="row")
    div.md-padding(layout="row" layout-align="start center" ng-if="!categoryId")
      h3.md-subheader Events
    .md-padding.Crumb(ng-if="categoryId" layout="row")
      a.md-subheadline(ui-sref="events") Events
      span &nbsp;&gt;
      a(ui-sref="events.categoryEvents({catId: categoryId})") &nbsp;{{categoryName}}
    span(flex)
    md-button.md-icon-button(ng-click="setViewType(\"grid\")")
      i.fa.fa-th
      span Grid
    md-button.md-icon-button(ng-click="setViewType(\"list\")")
      i.fa.fa-list
      span List
  h2.md-padding(ng-if="loadEvents.length === 0") No Available Events in this Category

  md-divider

  div.md-padding(ng-if="viewType === \"grid\"")
    div.gridItems(flex layout="row" layout-sm="column" layout-align="start start")
      md-card(flex-sm="50" flex-md="45" ng-repeat="event in loadEvents | orderBy: 'Reviews.length':true")
        img.md-card-image(ng-src="{{event.Images[0].img_url}}")
        md-card-title(layout="column"  layout-align="end start")
          md-card-title-text(layout="column")
            span.md-subhead.category {{categoryName || event.Category.name}}
            span.md-subheadline.name(ui-sref="viewEvent({id: event.id})") {{event.name}}
            span.time {{getTime(event.time).day}} @{{getTime(event.time).time}}
        md-card-content
          md-button.md-raised(md-ink-ripple ui-sref="viewEvent({id: event.id})") Review

  div(layout ng-if="viewType === \"list\"")
    md-list
      md-list-item.md-3-line(ng-repeat="event in loadEvents | orderBy:'Reviews.length' :true")
        img.face(ng-src="{{event.Images[0].img_url}}" ui-sref="viewEvent({id:event.id})")
        .md-list-item-text
          div(layout="row" layout-sm="column")
            .md-padding(flex="60")
              h3.unhide(ui-sref="viewEvent({id:event.id})" ng-if="!categoryId") {{$index + 1 + limit*(page-1)}}. {{event.name}}
              h3(ui-sref="viewEvent({id:event.id})" ng-if="categoryId") {{$index + 1}}. {{event.name}}
              div(layout="row" layout-align="start center")
                i.fa.fa-star.colorpink(ng-if="event.Reviews.length > 0" ng-repeat="i in range(averageReview(event.Reviews)) track by $index")
                i.fa.fa-star-o.colorpink(ng-repeat="i in range(5 - averageReview(event.Reviews)) track by $index")
                span.reviews(layout layout-margin layout-padding).md-primary {{event.Reviews.length}} reviews
              span.categorylist.md-primary.md-subheader(ui-sref="viewEvent({id:event.id})") Review
            md-divider
            .listDetails(layout-align="center start" layout-margin layout="column")
              i.fa.fa-map-marker.location
                | &nbsp;{{event.venue}}
              i.fa.fa-calendar.date.md-subheader
                | &nbsp;{{getTime(event.time).day}}
              i.fa.fa-at.time
                | &nbsp;{{getTime(event.time).time}}
          md-divider(ng-if="!$last")

  div(layout="row" layout-align="center center" ng-if="!categoryId")
    div(layout="row" layout-align="start center")
      md-button(ng-disabled="page <= 1" ng-click="prevEvents()") Prev
      span |
      md-button(ng-disabled="nextButton" ng-click="nextEvents()" ng-init="disableNextButton()") Next