div(layout='row' layout-sm="column" layout-md="column")
      div(flex='' layout-sm="column")
        div(ng-cloak="")
          md-card
            md-content.md-padding
              h4 Edit Items
              form(ng-submit="updateItem()")
                form(method="post" enctype="multipart/data" ng-submit="addItems()")
                  md-input-container
                    md-icon(class="fa fa-list")
                    md-select(ng-model="item.catId" md-on-open="loadCategories()" class="select" aria-label="item.catId")
                      md-option(ng-value="category.id" ng-repeat="category in categories")   {{category.type}}
                  md-input-container
                    md-icon(class="fa fa-coffee")
                    input(ng-model="item.name" type="text" placeholder="Product" ng-required="true")
                  md-input-container
                    md-icon(class="fa fa-file-text")
                    textarea(ng-model="item.description" placeholder="Description" ng-required="true" ng-maxlength="50")

                  br
                  md-button.md-raised.md-warn(class="login-button" type="submit")
                    i(class="fa fa-edit")
                    | Add

      div(flex='' layout-sm="column")
        div(ng-cloak="")
          md-card
            md-content.md-padding
              h4 Upload Images
              form(ng-submit="upload()")
                input(type="file" nv-file-select="" uploader="uploader" multiple)
                h4 The queue. Length: {{ uploader.queue.length }}
                    div(ng-repeat='item in uploader.queue')
                      p Name: {{ item.file.name }}
                      p  Size: {{ item.file.size/1024/1024|number:2 }} Mb

                      md-progress-linear.md-warn(md-mode='determinate', value='{{item.progress}}')

                  div
                    div
                      | Total progress: {{ uploader.progress }}
                      div(ng-init="showToast()" ng-if="uploader.progress === 100 && !uploader.isUploading")
                      .total-progress-box
                        .total-progress(ng-style="{ 'width': uploader.progress + '%' }")
                    md-button.md-raised.md-warn(ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length') Upload all
                    md-button.md-raised.md-warn(ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading') Cancel all
                    md-button.md-raised.md-warn(ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length') Remove all
