md-card.items(layout="column" flex="55" ng-init="getEvent()")
  br
  md-card-content
    md-subheader.md-no-sticky  Below is your product information, read through carefully to ensure your product information is accurate, edit when necceasry. Ensure you upload images for your event.

md-card.items(layout='column' flex='55' ng-init="getEvent()")
  br
  md-content
    md-tabs(md-dynamic-height='', md-border-bottom='')
      md-tab(label='Edit Item')
        md-content.md-padding
          h4.md-display-9 Edit Item
          br
          form(method="post" enctype="multipart/data" ng-submit="updateEvent()")
            md-input-container
              i.fa.fa-glass
                |   Event Name
              input(type="text" ng-model="event.name" ng-required="true" aria-label="event.name")
            md-input-container
              i.fa.fa-list
                |   Category
              md-select(ng-model="event.category_id" class="select" aria-label="event.category_id")
                md-option(ng-value="category.id" ng-repeat="category in categories") {{category.name}}
            md-input-container
              i.fa.fa-file-text
                |   Description
              textarea(ng-model="event.description" rows="5" ng-required="true" aria-label="event.description")
            md-input-container
              i.fa.fa-map-marker
                |   Location
              input(ng-model="event.location" type="text" ng-required="true" aria-label="event.location")
            md-input-container
              i.fa.fa-university
                |   Venue
              input(ng-model="event.venue" type="text" ng-required="true" rows='2' aria-label="event.venue")
            md-input-container
              i.fa.fa-calendar
                |   Date
              md-datepicker(ng-model="event.time" md-placeholder="Enter date" )
            md-input-container
              i.fa.fa-thumbs-o-up
                |   Sponsor
              input(ng-model="event.sponsor" type="text" ng-required="true" aria-label="event.sponsor")
            br
            md-button.md-raised.md-warn(class="login-button" type="submit")
              i(class="fa fa-plus-circle")
              | Update

      md-tab(label='Upload Images')
        md-content.md-padding
          h4.md-display-9 Upload Images
          br
          form(ng-submit="upload()")
            md-button.md-raised.md-no-ink.file-upload
              i.fa.fa-picture-o
              | select images
              input.upload(type="file" nv-file-select="" uploader="uploader" multiple)
            md-list.listdemoListControls(ng-cloak='')
              md-subheader.md-no-sticky The queue. Length: {{ uploader.queue.length }}
              md-list-item(ng-repeat='item in uploader.queue')
                md-subheader {{ item.file.name }}
                  br
                md-progress-linear.md-primary(md-mode='determinate', value='{{item.progress}}')
                br
              md-divider
              br
              md-progress-linear.md-primary(md-mode='determinate', value='{{uploader.progress}}')
              br
              div(ng-init="showToast() && uploader.clearQueue()" ng-if="uploader.progress === 100 && !uploader.isUploading")
              md-button.md-raised.md-primary(ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length && uploader.isUploading')
                i.fa.fa-cloud-upload
                | upload
                md-button.md-raised.md-warn(ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
                  i.fa.fa-ban
                  | cancel
                md-button.md-raised.md-warn(ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
                  i.fa.fa-remove
                  | Remove

      md-tab(label='gallery')
        md-content(layout="row" layout-sm="column" layout-md="column")
          md-subheader(ng-if="event.Images.length < 1")  No uploaded images, Please ensure you upload images in the upload image tab
          md-card.ripple-container(md-ink-ripple flex ng-repeat="image in event.Images")
            .card-images.md-card-image(style='background-image: url({{image.img_url}})')
