.event-jumbotron(style='text-align: center')
  .event-jumbotron-header.md-margin
    h2 EVENTS
  .event-jumbotron-gridlist
    .gridListdemoBasicUsage(layout layout-align='center center')
      md-grid-list(md-cols-sm='1', md-cols-md='2', md-cols-gt-md='2', md-row-height-gt-md='1:1', md-row-height='2:2', md-gutter='12px', md-gutter-gt-sm='8px')
        md-grid-tile.md-whiteframe-8dp.gray(md-rowspan='1', md-colspan='1', md-colspan-sm='1')
          .md-grid-tile-img.ripple-container(md-ink-ripple flex)
            img(src='images/eventImage1.jpg')
          md-grid-tile-footer
            h3(style='color: white; font-weight: bold') J.COLE PERFORMING LIVE AT THE MADISON SQUARE
        md-grid-tile.md-whiteframe-8dp.green
          .md-grid-tile-img.ripple-container(md-ink-ripple flex)
            img(src='images/eventImage4.jpg')
          md-grid-tile-footer
            h3 #2: (1r x 1c)
        md-grid-tile.md-whiteframe-8dp.yellow
          .md-grid-tile-img.ripple-container(md-ink-ripple flex)
            img(src='http://lorempixel.com/640/640/nightlife')
          md-grid-tile-footer
            h3 #3: (1r x 1c)
        md-grid-tile.md-whiteframe-8dp.blue
          .md-grid-tile-img.ripple-container(md-ink-ripple flex)
            img(src='http://lorempixel.com/640/640/animals')
          md-grid-tile-footer
            h3 #4: (2r x 1c)
        md-grid-tile.md-whiteframe-8dp.red
          .md-grid-tile-img.ripple-container(md-ink-ripple flex)
            img(src='http://lorempixel.com/640/640/business')
          md-grid-tile-footer
            h3 #5: (2r x 2c)
        md-grid-tile.md-whiteframe-8dp.green
          .md-grid-tile-img.ripple-container(md-ink-ripple flex)
            img(src='http://lorempixel.com/640/640/nature')
          md-grid-tile-footer
            h3 #6: (2r x 1c)

