.eventGridList(layout="column" layout-padding)
  .md-padding(layout="row" layout-align="start center")
    h3.md-subheader Recent Events
  md-divider(md-inset)
  .md-padding
    md-grid-list(md-cols-sm='1' md-cols-md='2' md-cols-gt-md='4' md-row-height-gt-md='1:1' md-row-height='2:2' md-gutter='12px' md-gutter-gt-sm='8px')
      md-grid-tile(ng-repeat="event in loadEvents | orderBy: time" style="background: url('{{event.Images[0].img_url}}') no-repeat; background-size: 100% 100%;")
        md-grid-tile-header
          h3(ui-sref="viewEvent({id:event.id})") {{event.name}}
        md-grid-tile-footer
          div(flex layout="column" layout-padding)
            h3.details.md-subheadline {{event.venue}}
            span {{parseTime(event.time).day}} 
            span {{parseTime(event.time).time}}
  div(layout= "row")
    span(flex)
    md-button(ui-sref="events.all({view:\"grid\", page: 1})") See More

  .md-padding(layout="row" layout-align="start center")
    h3.md-subheader Popular Events
  md-divider(md-inset)
  .md-padding
    md-grid-list(md-cols-xs='1' md-cols-sm='1' md-cols-md='2' md-cols-gt-md='4' md-row-height-gt-md='1:1' md-row-height='2:2' md-gutter='12px' md-gutter-gt-sm='8px')
      md-grid-tile(ng-repeat="event in loadEvents | orderBy: Reviews.length" style="background: url('{{event.Images[0].img_url}}') no-repeat; background-size: 100% 100%;")
        md-grid-tile-header
          h3(ui-sref="viewEvent({id:event.id})") {{event.name}}
        md-grid-tile-footer
          div(flex layout="column" layout-padding)
            h3.details.md-subheadline {{event.venue}}
            h4.details {{parseTime(event.time).day}} 
            span {{parseTime(event.time).time}}
  div(layout= "row")
    span(flex)
    md-button(ui-sref="events.all({view:\"grid\", page: 1})") See More