.events(layout="column" layout-padding)
  div(layout-padding layout="column")
    span(ng-show="loadEvents.length === 0" class="no_events_msg") There are currently no events.
  
    div(ui-view="inner")
  