div(ng-controller='EventCtrl')
  span(ng-show='loadEvents.length === 0' class="no_events_msg") There are currently no events.
  div(ng-show='loadEvents.length !== 0', ng-repeat='event in loadEvents')
