.events(layout="row")
  div(layout="row")
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="evcatNav" md-is-locked-open="$mdMedia(\"gt-md\")")
      md-toolbar
        h1.md-toolbar-tools(ui-sref="events.all({view:\"grid\", page: 1})") All Events
      md-content(layout-padding)
        md-button.btn-style(md-ink-ripple ng-repeat="category in categories" ui-sref="events.categoryEvents({catId: category.id})")  {{category.name}}
        md-divider
        md-button.btn-style(md-ink-ripple hide-gt-md ng-click="close()") Close Navbar

  div(layout="column" flex)
    div(layout="row" layout-align="start center")
      md-button.md-icon-button(md-no-ink ng-click="toggleSidenav()" aria-label="Menu" hide-gt-md)
        i.fa.fa-bars
      span(hide-gt-md) Categories
      span(ng-show="loadEvents.length === 0" class="no_events_msg") There are currently no events.
    md-divider

    div(ng-if="loadEvents.length > 0")
      .eventGridList(layout="column" layout-padding ng-if="!nextView")
        .md-padding(layout="row" layout-align="start center")
          h3.md-subheader Recent Events
          span(flex)
          md-button(ui-sref="events.all({view:\"grid\", page: 1})") See All Events

        md-divider(md-inset)
        .md-padding
          md-grid-list(md-cols-sm='1' md-cols-md='2' md-cols-lg='3' md-cols-gt-lg='4' md-row-height='2:2' md-row-height-sm='1:1' md-gutter='12px' md-gutter-gt-sm='8px')
            md-grid-tile(ng-repeat="event in loadEvents | orderBy:'-time' " style="background: url('{{event.Images[0].img_url}}') no-repeat; background-size: 100% 100%;")
              md-grid-tile-header(layout-align="center center")
                h3(ui-sref="viewEvent({id:event.id})") {{event.name}}
              md-grid-tile-footer
                div(flex layout="column" layout-padding)
                  h3.md-subheadline {{event.venue}}
                  span {{getTime(event.time).day}} @{{getTime(event.time).time}}

        .md-padding(layout="row" layout-align="start center")
          h3.md-subheader Popular Events
        md-divider(md-inset)
        .md-padding
          md-grid-list(md-cols-sm='1' md-cols-md='2' md-cols-lg='3' md-cols-gt-lg='4' md-row-height='2:2' md-row-height-sm='1:1' md-gutter='12px' md-gutter-gt-sm='8px')
            md-grid-tile(ng-repeat="event in loadEvents | orderBy: '-Reviews.length'"  style="background: url('{{event.Images[0].img_url}}') no-repeat; background-size: 100% 100%;")
              md-grid-tile-header(layout-align="center center")
                h3(ui-sref="viewEvent({id:event.id})") {{event.name}}
              md-grid-tile-footer
                div(flex layout="column" layout-padding)
                  h3.md-subheadline {{event.venue}}
                  span {{getTime(event.time).day}} @{{getTime(event.time).time}}

      div(ui-view="inner")



