md-card.jumbotron.search-jumbotron
  .jumbotron-image.md-card-image
    .image-overlay
      p WELCOME HOME
      p.jumbotron-middle-small-text Create, Review, Rate
      .search
        md-input-container.white(flex)
          label
          input(ng-model="search.searchItem")
        md-button.md-raised.md-accent
          i.fa.fa-search
          | search

.Sections(layout="column" )
  md-tabs.md-dynamic-height(md-selected="data.selectedIndex")
    md-tab(label="Events")
      div.eventCards(ng-if="events.length > 0" layout="row"  layout-sm="column" flex  layout-margin layout-align="center center")
        div(flex flex-md="45" ng-repeat="event in events" layout-align="center start" )
          .images(style="background-image: url('{{event.Images[0].img_url}}');")
          div.content(layout="column")
            div.category {{event.Category.name}}
            h2.md-subhead(ui-sref="viewEvent({id: event.id})") {{event.name}}
            span {{event.description}}

    md-tab(label="Products")
      div.eventCards(ng-if="items.length > 0" layout="row"  layout-sm="column" flex  layout-margin layout-align="center center")
        div(flex flex-md="45" ng-repeat="item in items" layout-align="center start" )
          .images(style="background-image: url('{{item.Images[0].img_url}}');")
          div.content(layout="column")
            div.category {{item.Category.name}}
            h2.md-subhead(ui-sref="viewEvent({id: event.id})") {{item.name}}
            span {{item.description}}