md-card.jumbotron.search-jumbotron
  .jumbotron-image.md-card-image
    .image-overlay
      p Create, Review, Rate
      .search(layout="row")
        md-input-container.md-block(md-no-float)
          md-icon(md-font-set="fa fa-search")
          input(type="text" ng-model="search.searchItem" placeholder="Search")
        md-button.md-raised.md-accent Search

.Sections(layout="column" )
  md-tabs.md-dynamic-height(md-selected="data.selectedIndex")
    md-tab(label="Events")
      div.tabCards(ng-if="events.length > 0" layout="row"  layout-sm="column" flex  layout-margin layout-align="start center")
        div(flex flex-md="45" flex-gt-md="{{events.length > 3? \"\": \"25\"}}" ng-repeat="event in events | limitTo : 4" layout-align="center start" )
          .images(style="background-image: url('{{event.Images[0].img_url}}');")
          div.content(layout="column")
            div.category {{event.Category.name}}
            h2.md-subhead(ui-sref="viewEvent({id: event.id})") {{event.name}}
            span {{event.description}}

    md-tab(label="Products")
      div.tabCards(ng-if="items.length > 0" layout="row"  layout-sm="column" flex  layout-margin layout-align="start center")
        div(flex flex-md="45" flex-gt-md="{{items.length > 3? \"\": \"25\"}}" ng-repeat="item in items | limitTo : 4" layout-align="center start" )
          .images(style="background-image: url('{{item.Images[0].img_url}}');")
          div.content(layout="column")
            div.category {{item.Category.name}}
            h2.md-subhead(ui-sref="viewEvent({id: event.id})") {{item.name}}
            span {{item.description}}