md-card.jumbotron.search-jumbotron
  .jumbotron-image.md-card-image
    .image-overlay
      p WELCOME HOME
      p.jumbotron-middle-small-text Create, Review, Rate
  .search-div
    .search-bar(layout layout-sm="column")
      .search-section(layout flex)
        md-input-container(flex)
          label Product
          md-icon(class="fa fa-2x fa-puzzle-piece")
          input(ng-model="search.searchItem")
      .search-section(layout flex)
        md-input-container(flex)
          label Location
          md-icon(class="fa fa-2x fa-map-marker")
          input(ng-model="search.location")
      .search-section(layout)
        md-input-container.search-button
          md-button(class="md-warn md-raised")
            i(class="fa fa-search")
            | Search

.top-reviews
  h4.md-margin TOP REVIEWS
  .content-top-reviews(layout="row" layout-sm="column" layout-md="column")
    md-card.ripple-container(md-ink-ripple flex ng-repeat="review in reviews")
      .card-images.md-card-image(style='background-image: url(images/reviews-photo1.jpg)')
      md-card-content
        p {{review.review}}


.events
  h4.md-margin EVENTS
  .content-events(layout="row" layout-sm="column" layout-md="column")
    md-card.ripple-container(md-ink-ripple flex ng-repeat="event in events")
      .card-images.md-card-image(style='background-image: url({{event.Images[0].img_url}})')
      md-card-content
        h4.md-display-9 {{event.name}}
        p {{event.description}}

.products
  h4.md-margin PRODUCTS
  .content-products(layout="row" layout-sm="column" layout-md="column")
    md-card.ripple-container(md-ink-ripple flex ng-repeat="item in items")
      .card-images.md-card-image(style='background-image: url({{item.Images[0].img_url}}); text-align=justify')
      md-card-content
        H4 {{item.name}}
        p {{item.description}}