md-card.jumbotron 
    .jumbotron-image.md-card-image(style='background-image: url(images/vvidaStockPhoto_2.jpg)')
      .image-overlay
        p WELCOME HOME
        p.jumbotron-middle-small-text Create, Review, Rate
        .jumbotron-footer
        
      
      
.top-reviews
  h4.md-margin TOP REVIEWS
  .content-top-reviews(layout="row" layout-sm="column")
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/reviews-photo1.jpg)')
      md-card-content
        p Unlike ice cream trucks of yore, Twirl &amp; Dip is pretty stationary in a spot to the right of Cal Academy. When you're facing the museum, swing to the right and follow it to the main road and you'll see the truck on your left. Unless Karl the Fog is completely blanketing the park, there's guaranteed to be a bit of a wait.
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/reviews-photo2.jpeg)')
      md-card-content
        p What should you get? Don't argue with me. It's organic vanilla bean soft serve (none of this "1/2 1/2 swirl" business), dipped in silky Tcho chocolate topped with barely there granules of Maldon sea salt. If you're looking for an Insta-worthy photo op and I know you are, try rainbow sprinkles, honeycomb candy, toffee pieces, etc for some texture and color.
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/reviews-photo3.jpg)')
      md-card-content
        p It only falls one star for how pricey a single cone gets with just one or two add-ons. Unless you're just going for a simple scoop of Mitchell's, a soft-serve cone runs $5-7 easy. But hey, it's organic, fair trade and uses local as much as possible so feel good about your ice-cream indulging self.

.events
  h4.md-margin EVENTS
  .content-events(layout="row" layout-sm="column")
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/event-photo1.jpg)')
      md-card-content
        p As I walked in, Analog Soul were wrapping up their brief warm-up. The pair are always a joy to hear, but this time the sense of anticipation for Parrish was too strong to fully engage. Some devoted dancers crowded around the booth.
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/event-photo2.jpg)')
      md-card-content
        p Whereas those shows were at Output and Cielo, a pair of established nightclubs, this time he had been booked by DJ duo Analog Soul and DIY promoters Space Is The Place for an eight-hour set at their Brooklyn loft.
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/event-photo3.jpg)')
      md-card-content
        p The festival features three full days of jazz, from July 31 - August 2 at Fort Adams State Park. One of the Park System's national treasures, the Fort is situated at the mouth of Newport Harbor and has panoramic views of the Newport Bridge and the East Passage.

.products
  h4.md-margin PRODUCTS
  .content-products(layout="row" layout-sm="column")
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/product-photo1.jpg)')
      md-card-content
        p With AMD graphics, an innovative Trackpad, nine hours of battery life and one of the fastest hard drives we've ever tested, the 2015 MacBook Pro is a force to be reckoned with.
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/product-photo2.jpg)')
      md-card-content
        p Apple has also dropped the iPhone 5S’ sim-free price on the Apple Store and is selling the 16GB model for £459 - making it £80 cheaper than the £540, 16GB iPhone 6.
    md-card.ripple-container(md-ink-ripple flex)
      .card-images.md-card-image(style='background-image: url(images/product-photo3.jpg)')
      md-card-content
        p Which brings us to the 7D, a camera that seems determined to wrestle back the king of APS-C crown. At first glance it looks a lot like the EOS 50D - it's unmistakably a member of the EOS family - but a closer look shows that this is far from being the gentle refresh.