div.not-loggedin-div(ng-if='!currentUser')
  md-card.profile-body.edit-profile(layout='column' layout-align='center center')
    div.profile-pic
      img(src='images/lock.png')
    p.md-headline.packed-bottom You are currently not logged in.
    p.md-headline.packed-top Click below to login or signup  to continue using vvida.
    md-button.login-btn(class="md-raised md-primary" aria-label='Login/Signup' ng-click='login()') Go to Login/Signup Page
md-card.items(layout='column' layout-md="column" layout-sm="column")
  br
  md-card-content.content
    h4 Products



md-card.items(layout='row' layout-md="column" layout-sm="column" flex='100')
  md-card-content(flex='20' flex-sm='100')
    span.md-padding(style='background:pink;text-align:center;border:1px;display:block') Categories
    br
    md-list
      md-list-item(layout-align='center' style='border-width:1px 0 0 0;border-style:solid;border-color:#AAAAAA;' ng-repeat='category in categories')
        span(style='font-size: 14px;font-family : Verdana,Arial; color: #CC0000;') Product
 

      
  div.items(layout='column' flex='80' flex-sm='100')
    span.md-padding(style='display:block;text-align:center;border-width:1px;border-color:#AAAAAA;font-size: 20px;font-family:Verdana,Arial;') Recent Products 
    md-content(class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column")
    div(flex='50' flex-xs='100' layout='column' ng-repeat='item in items')
      md-card('style:background:white')
        img(ng-src='{{item.Images[0].img_url}}' class="md-card-image" alt="Item")
        md-card-title
          md-card-title-text 
            span.md-headline {{item.name}}
        md-card-content
          p {{item.description}}    
        md-card-actions(layout="row" layout-align="start center")
          md-button Add Review
          md-button Add Review
        