div.md-padding
  h4.md-subheadline(ng-show='categoryId') Products > {{categoryItems.type}}
  h4.md-subheadline(ng-show='!categoryId') Products 

div(layout='row')
  div(layout='row')
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left' md-is-locked-open='$mdMedia(\'gt-md\')')
      md-toolbar
        h1.md-toolbar-tools(ng-click='resetCat()') All Categories
      md-content(layout='column' layout-align='start start')
        md-button(md-ink-ripple hide-gt-md ng-click='close()') Close Navbar
        md-button.btn-style(md-ink-ripple ng-repeat='category in categories' ng-click='viewCategory(category)')  {{category.type}}
        
  div(flex layout-wrap='layout-wrap' ng-if='!categoryId')
    md-subheader.md-padding Recent Products 
    md-content.md-padding(layout='row' layout-wrap layout-align='center start' layout-xs='column')
      div(flex='50' flex-sm='100' layout='column' ng-repeat='item in recentItems | limitTo : 4')
        md-card
          img(ng-src='{{item.Images[0].img_url}}' class='md-card-image' alt='Image')
          md-card-title
            md-card-title-text 
              span.md-headline.md-padding(ng-click='viewItem(item)') {{item.name}}
          md-card-content
            p {{item.description}}    
          md-card-actions(layout='row' layout-align='start center')
            md-button.md-accent(ng-click='viewItem(item)') Add Review

  div(layout='column' ng-if='categoryId')
    md-content.md-padding(layout='column' layout-wrap='layout-wrap' layout-align='center start')
      md-list
        md-list-item.md-3-line(ng-repeat='item in categoryItems.Items')
          img.face(ng-src='{{item.Images[0].img_url}}')
          .md-list-item-text
            h3(ng-click='viewItem(item)') {{item.name}} 
            h4 {{item.location}}
            p {{item.description}}
            md-button.md-accent(ng-click='viewItem(item)') Add Review
          md-divider(md-inset ng-if='!$last')
        