.items( layout="column")
  div(ng-cloak="")
    md-card
      md-toolbar.md-accent
        .md-toolbar-tools(aria-label="settings")
          span Upload Images
      md-content.md-padding
        form(ng-submit="upload()")
          input(type="file" nv-file-select="" uploader="uploader" multiple)
          h4 The queue. Length: {{ uploader.queue.length }}
              div(ng-repeat='item in uploader.queue')
                p Name: {{ item.file.name }}
                p  Size: {{ item.file.size/1024/1024|number:2 }} Mb

                md-progress-linear.md-warn(md-mode='determinate', value='{{item.progress}}')

            div
              div
                | Total progress: {{ uploader.progress }}
                div(ng-init="showToast()" ng-if="uploader.progress === 100 && !uploader.isUploading")
                .total-progress-box
                  .total-progress(ng-style="{ 'width': uploader.progress + '%' }")
              md-button.md-raised.md-warn(ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length') Upload all
              md-button.md-raised.md-warn(ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading') Cancel all
              md-button.md-raised.md-warn(ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length') Remove all








