.sign-up( layout='column', style='padding-bottom: 20px;')
  div(ng-cloak='')
    md-content.md-padding
      md-tabs.md-dynamic-height
        md-tab(label='Login')
          md-content.md-padding
             .custom-signup
                md-card(layout="column" flex-sm="55")
                  br
                  md-card-content
                    form(method='post' ng-submit="login()")
                      md-input-container
                        md-icon(class="fa fa-envelope")
                        input(ng-model='user.email', type='email', placeholder='Email', ng-required='true')
                      md-input-container
                        md-icon(class="fa fa-user-secret ")
                        input(ng-model='user.password', type='password', placeholder='password')
                      p.md-body-1.md-padding.md-margin {{messageLogin}}
                      md-button.md-raised.md-warn(class ='login-button', type='submit')
                        i(class="fa fa-send")
                        | Login
                br
                br
                section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
                  md-button.md-raised.md-primary.md-hue-2(class='third-party-button')
                    i(class="fa fa-facebook")
                    | Login with Facebook
                  md-button.md-raised.md-warn(class='third-party-button')
                    i(class="fa fa-google-plus")
                    | Login with Google

        md-tab(label='sign Up')
          md-content.md-padding
             .custom-signup
                md-card(layout="column" flex-sm="55")
                  br
                  md-card-content
                    form(method='post', ng-submit="signup()")
                      md-input-container
                        md-icon(class="fa fa-envelope ")
                        input(ng-model='user.emailSignup', type='email', placeholder='Email', ng-required='true')
                      md-input-container
                        md-icon(class="fa fa-key")
                        input(ng-model='user.passwordSignup', type='password', placeholder='Password')
                      md-input-container
                        md-icon(class="fa fa-key")
                        input(ng-model='user.confirmPassword', type='password', placeholder='Confirm password')
                      p.md-body-1.md-padding.md-margin {{messageSignup}}
                      md-button.md-raised.md-warn(class='sign-up-button',type='submit')
                        i(class="fa fa-send")
                        | Sign Up
                br
                br
                section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
                  md-button.md-raised.md-primary.md-hue-2(class='third-party-button')
                    i(class="fa fa-facebook")
                    | Sign Up with Facebook
                  md-button.md-raised.md-warn(class='third-party-button')
                    i(class="fa fa-google-plus")
                    | Sign Up with Google
