.login
      a(href='#')
        img(src='images/signUpFacebook.png')
      a(href='#')
        img(src='images/signUpGoogle.png')
      p or
      input(type='text', placeholder='Email')
      input(type='text', placeholder='Password')
      input(type='submit', value='Login')