.center-review-inputs(layout='column' layout-align='center center' style='margin-top: 60px; margin-bottom: 60px')
  md-content
    md-content(flex)
      h3 {{user}}, your next review awaits
      p Review anything from your favorite hotel to your barber shops
    md-content(flex layout='row', layout-sm='column')
      md-input-container
        label Find
        input(style='width: 400px')
      md-input-container
        label City
        input(style='width: 400px')
      .search-icon
        a(href='')
          i(class='fa fa-search fa-2x' style='padding: 20px')


