md-card-content.content
  h1 Photos
  div
    div(layout="row")
      div(flex="20")
        md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
          .card-images.md-card-image(style='background-image: url(images/female.png)')
      div(flex="20")
        md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
          .card-images.md-card-image(style='background-image: url(images/female.png)')
      div(flex="20")
        md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
          .card-images.md-card-image(style='background-image: url(images/female.png)')
      div(flex="20")
        md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
          .card-images.md-card-image(style='background-image: url(images/female.png)')
      div(flex="20")
        md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
          .card-images.md-card-image(style='background-image: url(images/female.png)')