.not-loggedin-div(ng-if='!currentUser' layout='row' layout-align='center center')
  md-card(layout='column' layout-align='center center' flex='90')
    .md-padding.md-margin.profile-pic
      img(src='images/lock.png')
    p.md-padding.md-headline.packed-bottom You are currently not logged in.
    p.md-padding.md-headline.packed-top Click below to login or signup  to continue using vvida.
    md-button.login-btn.md-raised.md-primary(aria-label='Login/Signup', ng-click='login()') Go to Login/Signup Page

.profile-page(ng-if='currentUser' layout ng-init="init()")
  div(layout="row")
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column", md-component-id='profileSideNav', md-is-locked-open="$mdMedia(\"gt-md\")")
      md-toolbar.md-tall.md-hue-2.toolbar-header
        .md-toolbar-tools-bottom.inset(layout='column')
          img(class='profile-pic' ng-src='{{currentUser.img_url}}')
          .text-center.md-padding
            .user {{currentUser.username || currentUser.name}}
            .email-profile {{currentUser.email}}
      md-list
        a(class='remove-link-deco' ng-repeat='item in menu' ui-sref='{{item.link}}')
          md-list-item(md-ink-ripple )
            md-item-content( layout='row' layout-align='start center')
              .inset
                span(class='{{item.icon}}')
              .inset
                | {{item.title}}
        md-divider
        md-subheader Management
        a(class='remove-link-deco' ng-repeat='item in ownerMenu' ui-sref='{{item.link}}')
          md-list-item(md-ink-ripple)
            md-item-content(layout='row' layout-align='start center')
              .inset
                span(class='{{item.icon}}')
              .inset
                | {{item.title}}

  div(flex layout="column")
    div(layout="row" layout-align="start center" hide-gt-md)
      md-button.md-icon-button(md-no-ink ng-click="toggleSidenav()" aria-label="Menu")
        i.fa.fa-bars
      h3.md-subheader.sidenav Menu
    div(ui-view='inner-view')
