md-card-content.content
  h1 Events
  p.md-headline {{message}}
  div(ng-repeat='x in events.Events')
    div
      div(layout="row")
        div(flex="15")
          md-card.ripple-container.prof-child-img(md-ink-ripple flex)
            .card-images.md-card-image(style='background-image: url(images/event.png)')
        div(flex="70")
          p.md-headline.packed-bottom.bold-title {{x.name}}
          p.md-subhead.packed
            span.fa.fa-clock-o   {{parseDate(x.time)}}
              md-tooltip Date and Time
          p.md-subhead.packed
            span.fa.fa-building-o   {{x.venue}}, {{x.location}}
              md-tooltip Venue and Location
          p.packed
            span.fa.fa-users   {{x.sponsor}}
              md-tooltip Sponsor
      p {{x.description}}
        md-tooltip Event Description
    md-divider.prof-divider