md-card-content.content
  h1 Events
  p.md-headline {{message}}
  div(ng-repeat='x in events.Events')
    div
      div(layout="row")
        div(flex="15")
          md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
            .card-images.md-card-image(style='background-image: url(images/event.png)')
        div(flex="70")
          p.md-headline(style='font-weight: bolder; margin-bottom: 0px; padding-bottom: 0px') {{x.name}}
          p.md-title(style='margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px') {{parseDate(x.time)}}
          p.md-subhead(style='margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px') {{x.venue}}, {{x.location}}
          p(style='margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px') {{x.sponsor}}
      p {{x.description}}
    md-divider(style="background-color: white;")