md-content.content.user-profile(ng-if="currentUser" ng-init="init()")
  p.md-headline.user-events-msg(ng-if="message") {{message}}
  div.userCards(flex layout="row" layout-sm="column" layout-align="start center")

    md-card.md-whiteframe-z5(ng-repeat="item in items.Items" flex flex-sm="50" flex-md="45")
      md-card-title(layout-sm="column" layout-gt-md="row" layout-md="column")
        md-card-title-text.md-margin(layout="column" flex-sm flex-md)
          span.category {{item.Category.name}}
          span.md-title.name {{item.name}}
          span.md-caption {{item.street}}
          span.md-caption {{item.city}}
          span.md-caption {{item.phone}}
          span.md-caption {{item.email}}
        md-card-title-media.item
          .md-media-md(style="background-image: url({{item.Images[0].img_url}});")
      md-card-actions(layout="row" layout-align-gt-sm="end center" layout-align-sm="center center")
        md-button.md-primary.md-raised(ui-sref="userProfile.editItem({id: item.id})") Edit
        md-button.md-warn.md-raised(ng-click="deleteItem(item.id)") Delete
  md-button.md-fab.add-btn(ng-click="addItemModal($event)")
    span.fa.fa-plus
    md-tooltip(md-direction='left') Add a new item
