md-card-content.content
  h1 Items
  p.md-headline {{message}}
  div(ng-repeat='x in items.Items')
    div
      div(layout-gt-sm="row" layout='column' layout-align-gt-sm='start start' layout-align='start center')
        div.md-padding
          md-card.ripple-container.prof-child-img(md-ink-ripple flex)
            .card-images.md-card-image.bg-img-product
        div.md-padding(flex layout='column' layout-align-gt-sm='start start' layout-align='start center')
          p.md-headline.packed-bottom.bold-title {{x.name}}
          p.packed
            span.fa.fa-list   {{x.Category.type}}
              md-tooltip Category
          p.packed
            span.fa.fa-commenting   {{x.Reviews.length}}
              md-tooltip Reviews
      p {{x.description}}
        md-tooltip Item Description
    md-divider.prof-divider