md-card.profile-body.edit-profile(layout='column' flex='55' style='background-color: rgb(241,241,241)')
  br
  md-card-content.content
    div(layout="row")
      div(flex="30")
        md-card.ripple-container(md-ink-ripple flex style="width: 215px; height: 215px;")
          .card-images.md-card-image(style='background-image: url(images/male.png)')
      div(flex="60")
        p.md-display-3(style='margin-bottom: 0px; padding-bottom: 0px') Brother Ocholla
        p.md-headline(style='margin-top: 5px; padding-top: 0px') Nairobi, Kenya
        div(layout="row" style='margin-top: 0px; padding-top: 0px')
          md-button.no-space(class='md-padding' style='margin-right: 20px;')
            span.fa.fa-camera 150 Photos
          md-button.no-space(class='md-padding' style='margin-right: 20px;')
            span.fa.fa-star 75 Reviews
          md-button.no-space(class='md-padding' style='margin-right: 20px;')
            span.fa.fa-th-large 75 Products
          md-button.no-space.md-margin(class='md-padding')
            span.fa.fa-calendar 75 Events
      div(flex="10")
        md-button.md-raised.md-warn(class ='login-button' md-tooltip='Message Brother Ocholla')
          span.fa.fa-envelope.fa-2x.md-padding

md-card.profile-body.edit-profile(layout='column' flex='55' style='margin-top: 5px; padding-top: 0px;')
  br
  md-tabs(md-dynamic-height md-border-bottom)
    md-tab(label='Reviews')
      div(ui-view='Reviews')
        h1 Hello World!
    md-tab(label='Events')
      div(ui-view='Events')
    md-tab(label='Items')
      div(ui-view='Products')
    md-tab(label='Photos')
      div(ui-view='Pictures')