md-card-content.content
  h1 Reviews
  p.md-headline {{message}}
  div(ng-repeat='x in reviews.Reviews')
    div
      div(layout="row")
        div(flex="15")
          md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
            .card-images.md-card-image(style='background-image: url(images/female.png)')
        div(flex="70")
          p.md-headline(style='font-weight: bolder; margin-bottom: 0px; padding-bottom: 0px') {{x.Item.name}}
          p(style='margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px') {{x.review_title}}
          p(style='margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px') {{x.Category.type}}
          div(layout='row' style='margin-top: 0px; padding-top: 0px')
            div(layout='row' ng-repeat='y in rateThis(x.rating) track by $index')
              span.fa.fa-star
            div(layout='row' ng-repeat='y in rateThis(10-x.rating) track by $index')
              span.fa.fa-star-o
      p {{x.review}}
    md-divider(style="background-color: white;")