md-card-content.content
  h1 Items
  p.md-headline {{message}}
  div(ng-repeat='x in items.Items')
    div
      div(layout="row")
        div(flex="15")
          md-card.ripple-container(md-ink-ripple flex style="width: 120px; height: 120px;")
            .card-images.md-card-image(style='background-image: url(images/product.png)')
        div(flex="70")
          p.md-headline(style='font-weight: bolder; margin-bottom: 0px; padding-bottom: 0px') {{x.name}}
          p(style='margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px') {{x.Category.type}}
      p {{x.description}}
    md-divider(style="background-color: white;")