div(layout="row" layout-align="center center")
  .user-profile(layout="flex")
    md-card
      .imageClass
      .userInfo
        h4 Rodney's Profile
        p Profile Overview
        p Friends
        p Reviews
        p Business Photos
        p Compliments
  .user-profile-main(layout="flex")
    h4 Reviews
