md-card-content.content
	h1 Reviews
	p.md-headline {{message}}
	div(ng-repeat='x in reviews.Reviews')
		div
			div(layout-gt-sm="row" layout='column' layout-align-gt-sm='start start' layout-align='start center')
				.md-padding
					md-card.ripple-container.prof-child-img(md-ink-ripple flex)
						.card-images.md-card-image.bg-img-product
				.md-padding(flex layout='column' layout-align-gt-sm='start start' layout-align='start center')
					p.md-headline.packed-bottom.bold-title {{x.Item.name}}
					p.packed
						span.fa.fa-comment-o  {{x.review_title}}
							md-tooltip Review Title
					p.packed
						span.fa.fa-list   {{x.Item.Category.type}}
							md-tooltip Category
					.packed-top(layout='row')
						md-tooltip Rating
						div(layout='row' ng-repeat='y in rateThis(x.rating) track by $index')
							span.fa.fa-star
						div(layout='row' ng-repeat='y in rateThis(5-x.rating) track by $index')
							span.fa.fa-star-o
			p {{x.review}}
				md-tooltip Review Text
		md-divider.prof-divider
