md-card-content.content
  h1 Photos
  div
    div(layout='row').prof-pic-div
      div(flex='20' ng-repeat='x in arrayNo(5) track by $index')
        md-card.ripple-container.prof-child-img(md-ink-ripple flex)
          .card-images.md-card-image.bg-img-product
    div(layout='row').prof-pic-div
      div(flex='20' ng-repeat='x in arrayNo(5) track by $index')
        md-card.ripple-container.prof-child-img(md-ink-ripple flex)
          .card-images.md-card-image.bg-img-event