md-content(layout='row' layout-margin layout-align="center start" flex="100" ng-init="getEvent()")
  md-content.no-overflow(layout="column" layout-margin flex="60")
    h4.md-headline {{event.name}}
    p.md-subheader Gallery Images
    br
    md-whiteframe.md-whiteframe-5dp.event-main-img(style="background: url('{{selectedImage.img_url || event.Images[0].img_url}}') no-repeat center center;")
    div(layout="row")
      md-virtual-repeat-container.thumbs(md-orient-horizontal layout-align="start start")
        img.face(ng-click="setImage(image)"  md-virtual-repeat="image in event.Images" ng-src="{{image.img_url}}")
      .md-padding.rating-box(layout="row" layout-align="end center")
        .average-rating(layout="row")
          h3 {{averageReview(event.Reviews)}}
        .md-padding.average-stars
          i.fa.fa-star.colorpink(ng-if="averageReview(event.Reviews) > 0" ng-repeat="i in range(averageReview(event.Reviews)) track by $index")
          i.fa.fa-star-o.colorpink(ng-repeat="i in range(5 - averageReview(event.Reviews)) track by $index")
          p.small Average rating
    br
    p.md-subheader Description
    br
    span.small-font {{event.description}}
    br
    p.md-subheader Details
    br
    i.fa.fa-map-marker &nbsp;&nbsp;
      span.emphasis {{event.venue}} &nbsp;
        span @ &nbsp;
      span.emphasis {{event.location}}
    br
    i.fa.fa-group &nbsp;&nbsp; 
      span.emphasis {{event.sponsor}}

  md-content.no-overflow(layout="column" layout-margin flex="30")
    h5.text-center Say something about this event
    md-divider
      md-input-container.no-padding
        .rating(ng-init="eventReview.rating=0")
          span(ng-repeat="i in range(5-eventReview.rating) track by $index" ng-click="rate(5-$index)") ☆   
          span.stared(ng-if="eventReview.rating" ng-repeat="i in range(eventReview.rating) track by $index" ng-click="rate(eventReview.rating-$index)") ☆ 
      md-input-container.no-padding
        label Title
        input(ng-model="eventReview.review_title")
      md-input-container.no-padding
        label Review
        textarea(ng-model="eventReview.review" columns="1" md-maxlength="150" rows="2")
      md-input-container.no-padding
        md-button.md-raised.md-primary(ng-click="addEventReview()") Submit review


    h5.text-center What people are saying about this event
    md-divider
      md-virtual-repeat-container.container-height
        md-list
          md-list-item.md-3-line(md-virtual-repeat="review in event.Reviews")
            .md-list-item-text
              span.bold-text {{review.review_title}}
              br
              span.small-font {{review.review}}
              p
              i.fa.fa-star.colorpink(ng-if="review.rating > 0" ng-repeat="i in range(review.rating) track by $index")
              i.fa.fa-star-o.colorpink(ng-repeat="i in range(5 - review.rating) track by $index")
