md-card.items(layout='column' layout-md="column" layout-sm="column")
  md-card-content.content(style="padding:5px;")
    h4 Products

.view-item(layout="column")
  md-card.md-padding(flex)
    .view-item-header
      h3(style="margin-bottom: 10px") {{item.name}}
      p(style="margin=0px") {{item.city}}

div(layout="row")
  div.view-item-main(flex="60" style="border:1px solid #FF9800;margin-left:10px;")
    md-grid-list(md-cols-sm='1', md-cols-md='3', md-cols-gt-md='3', md-row-height-gt-md='1:1', md-row-height='1:1', md-gutter='12px', md-gutter-gt-sm='8px')
      md-grid-tile(ng-repeat="image in images" style="background-image: url('{{image.img_url}}'); background-repeat: no-repeat; background-size: 100% 100%;")

  md-content(flex="35" layout-padding style="border:1px solid #FF9800;margin-left:5px;")
    md-list
      md-list-item.md-3-line(ng-repeat="review in item.Reviews")
        .md-list-item-text
          h4 {{review.review}} 
          h4 {{review.review_title}}
          p {{review.rating}}
    div(style="margin:10px;" ng-if="currentUser")
      md-input-container
        label Review
        input(required name="Review")
      md-input-container
        label Title
        input(required name="Title")
      md-input-container
        label Rating
        input(required name="Rating 1 - 5")
      md-button.md-raised.md-accent Submit Review
   

        



