.md-padding(layout="row" ng-init="getItem()")
  a.md-subheadline(ui-sref="items") Products
  a.md-subheadline(ui-sref="categoryItems({catId: item.category_id})") &nbsp;> {{item.Category.type}}
  a.md-subheadline &nbsp; > {{item.name}}

div(layout="row" layout-align="start start" flex)
  div(layout="column" flex="50")
    h3.md-subheader.md-padding Gallery Images - {{item.name}}
    div(layout="row" layout-margin)
      .thumbs(layout="column" layout-align="start start")
        img.face(ng-click="setImage(image)" ng-repeat="image in images" ng-src="{{image.img_url}}")
      div(style="background: url('{{selectedImage.img_url || images[0].img_url}}') no-repeat center center;")
    md-divider
    div(layout="column" layout-margin layout-padding)
      h4 {{item.name}} 
      span {{item.street}} | {{item.city}}
      span {{item.phone}}
      span {{item.description}}
    md-divider

  .left-border(flex="49" layout-margin layout-padding)
    md-content
      md-list
        h3.md-subheader(layout layout-padding) Reviews for {{item.name}} {{item.city}}
        md-divider
        md-list-item.md-3-line(ng-repeat="review in item.Reviews")
          .md-list-item-text
            h4 {{review.review}} 
            h4 {{review.review_title}}
            p {{review.rating}}
          md-divider
