.view-item(layout="column")
  md-card.md-padding(flex)
    .view-item-header
      h3(style="margin-bottom: 10px"){{ item.name }}
      p(style="margin=0px") {{item.city}} >


    .view-item-main
      md-grid-list(md-cols-sm='1', md-cols-md='4', md-cols-gt-md='4', md-row-height-gt-md='1:1', md-row-height='1:1', md-gutter='12px', md-gutter-gt-sm='8px')
        md-grid-tile(ng-repeat="image in images" style="background-image: url('{{image.img_url}}'); background-repeat: no-repeat; background-size: 100% 100%;")
      md-button(class="md-raised md-warn" style="margin-top:20px") Write A Review


  md-card.md-padding(flex)
    p {{ item.description }}
