.welcome-header
  md-card
    md-card-content
     md-divider
.welcome(layout='row')
  div(flex='65')
    md-card
      md-card-content
        em Hey There !
        md-divider
        md-list
          md-list-item.md-3-line
            img.md-avatar(ng-src='{{item.face}}', alt='{{item.who}}')
            .md-list-item-text.animate
              p.md-title
                | {{item.notes}}
              p
                | {{item.who}}
                em -  vvida bot -
            md-divider(inset='')
    md-card.popular-events
      md-card-content
        md-list-item.md-2-line
          .md-list-item-text
            h3 Popular events
        md-divider
        md-grid-list.md-padding(md-cols-sm='1', md-cols-md='2', md-cols-gt-md='3', md-row-height-gt-md='1:1', md-row-height='2:2', md-gutter='8px', md-gutter-gt-sm='8px')
          md-grid-tile.green(md-ink-ripple flex ng-repeat="event in events | limitTo: 9"
           style="background-image: url({{event.Images[0].img_url}}); background-repeat: no-repeat; background-size: 100% 100%;")
            md-grid-tile-footer
              h3 {{event.name}}

  div(flex='35', hide-sm='')
    md-card
      div(layout='column',ng-cloak='')
        md-content(flex='')
          md-list
            md-list-item.md-2-line
              .md-list-item-text
                h3 Review of the day
              md-divider
            md-list-item.md-3-line(ng-repeat='item in todos')
              img.md-avatar(ng-src='{{item.face}}', alt='{{item.who}}')
              .md-list-item-text
                h3 {{item.what}}
                h4 {{item.who}}
                p
                  | {{item.notes}}
              md-divider(inset='')
    md-card
      div(layout='column',ng-cloak='')
        md-content(flex='')
          md-list
            md-list-item.md-2-line
              .md-list-item-text
                h3 Recent activity
              md-divider
            md-list-item.md-3-line(ng-repeat='event in events | limitTo: 3')
              img.md-avatar(ng-src='http://lorempixel.com/100/100/people? + {{$index}}', alt='{{item.who}}')
              .md-list-item-text
                h3 {{event.name}}
                h4 {{event.location}}
                p
                  | {{event.description | limitTo: 100}}
              md-divider(inset='')
    md-card
      div(layout='column',ng-cloak='')
        md-content(flex='')
          md-list
            md-list-item.md-2-line
              .md-list-item-text
                h3 Popular Products
              md-divider
            md-list-item.md-3-line(ng-repeat='item in items')
              img.md-avatar(ng-src='http://lorempixel.com/100/100/people? + {{$index}}', alt='{{item.who}}')
              .md-list-item-text
                h3 {{item.name}}
                h4 {{item.city}}
                p
                  | {{item.description | limitTo: 100}}
              md-divider(inset='')